<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="header">
		<nav class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
			<div class="container-build">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">SpringSample</a>
				</div>
			</div>
			<form method="post" th:action="@{/logout}">
				<button class="btn btn-link pull-right navbar-brand" type="submit">
					ログアウト</button>
			</form>
		</nav>
	</th:block>
</body>
</html>